{{#extend "layouts/dashboard/simple" title="pages-maintenance"  active="pages-maintenance" path="../../" }}
{{#content "scripts"}}
<script src="{{path}}assets/js/countdown.js"></script>
{{/content}}
{{#content "content"}}
    <div class="container-fluid p-0">
        <div class="iq-maintenance text-center"> 
            <div>
                <img src="{{path}}assets/images/auth/02.png" class="rounded-circle nine-img" alt="images">
                <img src="{{path}}assets/images/auth/01.png" class="rounded-circle ten-img" alt="images">
                <img src="{{path}}assets/images/auth/06.png" class="rounded-circle eleven-img" alt="images">
                <img src="{{path}}assets/images/auth/05.png" class="rounded-circle twelve-img" alt="images">
                <img src="{{path}}assets/images/auth/03.png" class="rounded-circle thirteen-img" alt="images">
                <img src="{{path}}assets/images/auth/04.png" class="rounded-circle fifteen-img" alt="images">
            </div>
            <div class="user-img1">
                <svg width="1857"  viewBox="0 0 1857 327" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.05078 189.348C86.8841 109.514 348.951 -25.2523 734.551 74.3477C1120.15 173.948 1641.22 91.181 1853.55 37.3477" stroke="#EA6A12" stroke-opacity="0.3"/>
                <path d="M0.99839 152.331C90.9502 80.6133 364.495 -28.9952 739.062 106.31C1113.63 241.616 1640.16 208.056 1856.6 174.363" stroke="#EA6A12" stroke-opacity="0.3"/>
                </svg>
            </div>
            <div class="maintenance-bottom pb-0">
                
                <div class="" style="background: transparent; height: 320px;">
                    <div class="">
                        <div class="bottom-text general-zindex">
                            <h1 class="mb-2">Hang on! We are under maintenance</h1>
                            <p>It will not take a long time till we get the error fiked. We wii live again in</p>
                            <ul class="countdown d-flex justify-content-center align-items-center list-inline" data-date="Feb 02 2022 20:20:22">
                                <li>
                                    <span data-days>0</span>Days
                                </li>
                                <li>
                                    <span data-hours>0</span>Hours
                                </li>
                                <li>
                                    <span data-minutes>0</span>Minutes
                                </li>
                                <li>
                                    <span data-seconds>0</span>Seconds
                                </li>
                            </ul>
                            <div class="w-50 mx-auto mt-2">
                                <div class="form-group input-group search-input">
                                    <input type="text" class="form-control maintain" placeholder="Enter your mail">
                                    <a href="#" class="btn btn-primary rounded-pill ms-2">Notify Me</a>
                                </div>
                            </div>
                        </div>
                        <div class="c xl-circle">
                            <div class="c lg-circle">
                                <div class="c md-circle">
                                <div class="c sm-circle">
                                    <div class="c xs-circle"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>            
        </div>
    </div>
{{/content}}
{{/extend}} 